* {
  font-family: PingFangSC-Regular, sans-serif;
  font-size: 12px;
  box-sizing: border-box;
}

:root {
  --drag-height: 32px;
  --sidebar-width: 280px;
  --color-primary: rgb(0, 89, 190);
  --color-sub-primary: rgba(219, 219, 219, 0.594);
}

html,
body,
ul {
  padding: 0;
  margin: 0;
  img {
    max-width: 280px;
    object-fit: contain;
  }
}

/* 自定义滚动条样式 */
.scroll-container::-webkit-scrollbar {
  width: 10px; /* 滚动条宽度 */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* 滚动条颜色 */
  border-radius: 10px; /* 圆角 */
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent; /* 滚动条轨道颜色 */
}

.icon-btn {
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.1s;
  cursor: pointer;
  app-region: no-drag;
  &:hover {
    background-color: rgb(255, 255, 255);
  }
}

/* 单行文本省略号 */
.ellipsis-single {
  width: 200px; /* 固定宽度 */
  overflow: hidden; /* 隐藏溢出文本 */
  text-overflow: ellipsis; /* 显示省略号 */
  white-space: nowrap; /* 防止换行 */
}

/* 多行文本省略号 */
.ellipsis-multi {
  width: 200px; /* 固定宽度 */
  overflow: hidden; /* 隐藏溢出文本 */
  display: -webkit-box; /* 必须使用 flex 布局 */
  -webkit-box-orient: vertical; /* 设置盒子方向为垂直 */
  -webkit-line-clamp: 3; /* 限制显示的行数 */
}
